<p id="notice"><%= notice %></p>
<wrapper>
<center><h1>To-Do List</h1></center>
<center>
<table>
  <thead>
    <tr>
      <th>To-Do List</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.Title %></td>
        <td><%= link_to 'Details', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>
<center>
<%= link_to 'Home', welcome_index_path %> | <%= link_to 'New Action Item', new_note_path %>
<br>
<br>
</center>
</wrapper>