<p id="notice"><%= notice %></p>
<wrapper>
<p>
  <strong>Title:</strong>
  <%= @note.Title %>
</p>

<p>
  <strong>Notes:<br></strong>
  <%= @note.Notes %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
</wrapper>