<wrapper><br>
<center><h1>Hello, Travis.</h1>
<h2><%= Time.now.strftime("The current time is %l:%M %p %Z.") %></h2><%= Time.now.strftime("%A, %B %d, %Y") %>
<form class="" action="http://www.google.com/search" method="get">
            <input type="hidden" name="q" value="">
            <input type="text" name="q" alt="search" placeholder="Google">
        </form>
<h3>
<%= link_to 'Personal Notes', notes_path %>  |  <%= link_to 'Work Notes', campaigns_to_dos_path %> | <%= link_to 'Gmail', 'https://mail.google.com/mail/u/0/#inbox' %> | <%= link_to 'Reddit', 'https://www.reddit.com/' %>
</center>
<br><br>
</wrapper>