<wrapper><br>
<center><h1>Hello, Travis</h1>
<h2><%= Time.now.strftime("The current time is %l:%M %p %Z.") %></h2><%= Time.now.strftime("%A, %B %d, %Y") %>
<form class="" action="http://www.google.com/search" method="get">
            <input type="hidden" name="q" value="">
            <input type="text" name="q" alt="search" placeholder="Google It">
        </form>
<h3>
<%= link_to 'To-Do List', notes_path %> | <%= link_to 'Gmail', 'https://mail.google.com/mail/u/0/#inbox' %> | <%= link_to 'Reddit', 'https://www.reddit.com/' %> | <%= link_to 'Salesforce', 'https://login.salesforce.com/' %> | <%= link_to 'Pardot', 'https://pi.pardot.com/' %>
</center>
<br><br>
</wrapper>
